.home-section3{
    padding: 10% 7%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    

    h3, p{
        width: 40%;
    }

    h3{
        font-size: 36px;
        font-weight: 300;
    }

    p{
        font-size: 18px;
        line-height: 1.3;
    }
}