.horizontal-slide-section{
    background:radial-gradient(circle at 100% 50%, transparent 20%, rgba(255, 255, 255, 0.123) 21%, rgba(255,255,255,.1) 34%, transparent 35%, transparent),
    radial-gradient(circle at 0% 50%, transparent 20%, rgba(255,255,255,.1) 21%, rgba(255,255,255,.1) 34%, transparent 35%, transparent) 0 -50px;
    background-color: rgba(123, 142, 161, 0.219);
    background-size:75px 100px;
    height: 100vh;
    

    .slide-header{
        padding: 4% 0;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 0 auto;

        h1{
            margin: 0;
            font-weight: 300;
            font-size: 40px;
        }

        .buttons-container{
            position: absolute;
            right: 0;

            button{
                margin-left: 20px;
                border: none;
                background: transparent;
                outline: none;
                cursor: pointer;

                svg{
                    width: 25px
                }
            }
        }
    }


    .slide-container{
      
        width: 100vw;
        height: 70vh;
        
        overflow-x: hidden;

        .slide{
            height: 100%;
            display: flex; 
        padding-left: 7%;
            align-items: center;
        }
    }
}